<footer class="bg-dark text-light py-5">
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-4">
              <h5>À Propos de Nous</h5>
              <p class="about mt-3">Nous sommes spécialisés dans la location de panneaux publicitaires et l'habillage de divers supports. Notre objectif est de vous aider à maximiser votre visibilité.</p>
          </div>
          <div class="col-md-4">
              <h5>Liens Utiles</h5>
              <ul class="list-unstyled mt-3">
                  <li><a href="#" class="text-light">Accueil</a></li>
                  <li><a href="{{ path('Prestation') }}" class="text-light">Nos Services</a></li>
                  <li><a href="{{ path('Avantages') }}" class="text-light">À Propos</a></li>
                  <li><a href="{{ path('contact') }}" class="text-light">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Contactez-Nous</h5>
              <p><i class="fas fa-phone mt-3"></i> 032 07 737 70 – 038 08 211 11</p>
              <p><i class="fas fa-envelope"></i> jr_print@yahoo.fr</p>
              <p><i class="fas fa-map-marker-alt"></i> Lot IVL 3 D Ambodirovonkely <br>
                  Andraharo - Antananarivo <br>
                  Madagascar</p>
          </div>
      </div>
      <hr class="my-4" style="border-color: #fff;">
      <div class="text-center">
          <p>&copy; {{ "now"|date("Y") }} Jr_print. Tous droits réservés.</p>
          <div>
              <a href="https://www.facebook.com" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</footer>
