{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<style>
    .bordered-container {
        border: solid #000 1px;
    }
    h1{
        margin-top: 20px;
    }
</style>
<div class="container mt-4 mb-4 bordered-container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary mb-4 mt-2">Envoyer l'email</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
