{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}

<main id="main">
    <!-- === prestation Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Préstations</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">Toutes</li>
              <li data-filter=".filter-app">Panneau</li>
              <li data-filter=".filter-product">Habillage</li>
              <li data-filter=".filter-branding">Décoration</li>
              <li data-filter=".filter-books">Autres</li>
            </ul><!-- fin de prestation Filters -->
            <!--
          Branding = Sihlouettes
          app=Panneau
          product = habillage
          -->
          </div>

          <div class="row gy-4 portfolio-container">

          <!-- panneau 2x1-->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/panneau/2x1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/panneau/panneau/2x1.PNG" class="img-fluid" alt=""  style ="width:720px; heigth:500px;"></a>
                <div class="portfolio-info">
                  <h4><a href="">Panneau sucette – Format 2*1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/car1.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/car1.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillage véhicules</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/decoration/deco1.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/decoration/deco1.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Décorations évènementielles </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="aassets/img/prestation/autre/sil.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/autre/sil.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Sihlouettes</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

                      <!-- panneau 4x3-->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/panneau/4x3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/panneau/panneau/4x3.jpg" class="img-fluid" alt="" style ="width:720px; heigth:500px;"></a>
                <div class="portfolio-info">
                  <h4><a href="">Panneau – Format 4x3 </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/car2.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/car2.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillage véhicules</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/decoration/deco2.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/decoration/deco2.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Décorations Plaque sur PVC </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/autre/barea.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/autre/barea.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Photobooth</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

                      <!-- panneau 6x3-->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/panneau/3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/panneau/panneau/6x3.jpg" class="img-fluid" alt="" style ="width:720px; heigth:500px;"></a>
                <div class="portfolio-info">
                  <h4><a href="">Panneau – Format 6x3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/vitr.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/vitr.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillages vitrines / Vitrophanie </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/decoration/deco3.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/decoration/deco3.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Branding 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/autre/call.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/autre/call.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Photocall </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

                      <!-- panneau 8x3-->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/panneau/4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/panneau/panneau/8x3.jpg" class="img-fluid" alt="" style ="width:720px; heigth:500px;"></a>
                <div class="portfolio-info">
                  <h4><a href="">Panneau – Format 8x3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/cuve.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/cuve.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillages cuves & Transtack</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>

              <!-- panneau 9x3-->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a style ="width:720px; heigth:500px;" href="assets/img/prestation/panneau/5.jpg , assets/img/prestation/panneau/9x3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/panneau/panneau/9x3.jpg" class="img-fluid" alt="" ></a>
                <div class="portfolio-info">
                  <h4><a href="">Panneau – Format 9x3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/comp.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/comp.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillages comptoirs</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/autre/stop.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/autre/stop.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Stop trottoir </a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

              <!-- panneau 12x3-->
              
              <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <a style="width:720px; height:500px;" href="assets/img/prestation/panneau/12x3.jpg" data-gallery="portfolio-gallery-app" class="glightbox">
                    <img src="assets/img/prestation/panneau/panneau/12x3.jpg" class="img-fluid" alt="">
                  </a>
                  <div class="portfolio-info">
                    <h4><a href="">Panneau – Format 12x3</a></h4>
                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                  </div>
                </div>
              </div><!-- fin de prestation Item -->

              <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/Habillage/deco.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/Habillage/deco.JPG" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Habillages boutiques</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Totem</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="assets/img/prestation/autre/bache.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/prestation/autre/bache.jpg" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="">Bâche tendue</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- fin de prestation Item -->


          </div><!-- fin de prestation Container -->

        </div>

      </div>
    </section><!-- fin de prestation Section -->

</main>


 <!-- ======= Footer ======= -->
<?php require_once 'footer.php' ?>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

{% endblock %}
